    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input type="text" name="fname" placeholder="First Name" ng-model="formData.fname" />
    <input type="text" name="lname" placeholder="Last Name" />
    <input type="text" name="phone" placeholder="Phone" />
    <textarea name="address" placeholder="Address"></textarea>
    <div class="form-group">
    <input type="submit" name="submit" class="submit action-button" value="Submit" ng-click="register.submit(formData)" />
    </div>