<div class="">



	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
<header ng-include="'views/partials/header.html'"></header>
<!-- sections -->
<section class="one-section" ng-controller="SindController as vm" >
<div ng-hide="vm.loaded" class="preloader">
</div>

<div ng-hide="!vm.loaded">
<div class="container">
    <div class="control-group col-xs-6 col-xs-offset-3 text-danger" >
        <span class="help-inline" ng-bind="vm.error"></span>
    </div>
<div class="row centered">
	<div class="input-group">
   <input type="text" class="form-control" ng-model="vm.search">
   <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="vm.submit()" type="button">Recherche</button>
   </span>
</div>
</div>


<div id="products" class="row list-group centered" ng-show="vm.offers.length > 0">
                     <div class="item col-xs-3 col-lg-3" ng-repeat="offer in vm.offers | start: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize"> 
                     <div class="thumbnail">
                         <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                         <div class="caption">
                             <h4 class=" text center group inner list-group-item-heading">{{offer.title}}</h4> 
                             <p class="group inner list-group-item-text">
							 <h6 class="type-italic">{{offer.type}}</h6>
					  
				      <h6> <i class="fa fa-calendar"> Start date : </i> {{offer.created_at | date:'medium'}} </h6>
				      <h6>  <i class="fa fa-calendar"> End date : </i>  {{offer.ended_at | date:'medium'}}</h6>					

							 
							 </p>
						 </div>
                             <div class="row"> 
                                <div class="col-xs-12 col-md-12">
                                     <a class="btn submit btn-crowd" ng-href="/offer/{{offer._id}}">Read more</a>
                                </div>
                                </div>

				</div>
		</div>
</div>

<div class="row text-center" ng-hide="vm.offers">
    <div class="col-12">
<h3 class="text-center">There is no offers for now !</h3>
    </div>
</div>
<pagination uib-pagination total-items="vm.offers.length" items-per-page="vm.pageSize" ng-model="vm.currentPage" max-size="10" 
                        class="pagination-sm"></pagination>

</div>
</div> 
    
</section>



<!-- end sections -->
    </div>

<footer ng-include="'views/partials/footer.html'"></footer>

</div>