<div class="">
	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
<header ng-include="'views/partials/header.html'"></header>
<!-- sections -->
<section class="one-section" ng-controller="SindController as vm" >
<div ng-hide="vm.loaded" class="preloader">
</div>
<div ng-hide="!vm.loaded">
<div class="container">
<div class="row" style="margin-bottom:20px;">
	<div class="input-group col-md-3 pull-right">
   <input type="text" class="form-control" ng-model="vm.search" required>
   <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="vm.submit()" type="button">Recherche</button>
   </span>
</div>
</div>
<div class="row">
		<div class="col-md-3" ng-repeat="offer in vm.offers | start: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
			<a href="/offer/{{offer._id}}">
			<div class="thumbnail" style="padding: 0">
				<div style="padding:4px">
					<img ng-if="!vm.offer._company.logo" alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
					<img ng-if="vm.offer._company.logo" alt="300x200" style="width: 100%" src="/uploads/logos/{{vm.offer._company.logo}}">
			    </div>
            <div class="caption">
              <h3>{{offer.title}}</h3>
              <p> {{  offer.category}} </p>
              <p>  <i class="fa fa-university"></i>  {{  offer._company.name}}</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
				<uib-progressbar class="progress-striped" max="100" value="vm.percentage(offer.ended_at , offer.created_at)" type="primary">{{vm.percentage(offer.ended_at , offer.created_at)}}%</uib-progressbar>
                </div>
              </div>
              <div class="row" style="margin:7px;">
                <div class="col-md-4"><b>{{vm.percentage(offer.ended_at , offer.created_at)}} %</b><br/><small>Expired</small></div>
                <div class="col-md-4"><b>{{offer.price}}</b><br/><small>Price</small></div>
              </div>
            </div>
			</a>
          </div>
</div>
<div class="row text-center" ng-hide="vm.offers">
    <div class="col-12">
<h3 class="text-center">There is no offers for now !</h3>
    </div>
</div>
<pagination uib-pagination total-items="vm.offers.length" items-per-page="vm.pageSize" ng-model="vm.currentPage" max-size="10" 
                        class="pagination-sm"></pagination>

	</div>
	</div>
    
</section>



<!-- end sections -->
    </div>

<footer ng-include="'views/partials/footer.html'"></footer>

</div>