<div class="">
	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
<header ng-include="'views/partials/header.html'"></header>
<!-- sections -->
<section class="one-section" ng-controller="ServeyindController as vm" >
<div ng-hide="vm.loaded" class="preloader">
</div>
<div ng-hide="!vm.loaded">
<div class="container">
<div class="row" style="margin-bottom:20px;">
	<div class="input-group col-md-3 pull-right">
   <input type="text" class="form-control" ng-model="vm.search" required>
   <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="vm.submit()" type="button">Recherche</button>
   </span>
</div>
</div>
<div class="row">
		<div class="col-md-3" ng-repeat="servey in vm.serveys | start: (vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
		<a href="/servey/{{servey._id}}">
			<div class="thumbnail" style="padding: 0">
				<div style="padding:4px">
					<img ng-if="!servey.file" alt="300x200" style="width: 100%" src="http://placehold.it/200x150">
					<img ng-if="servey.file" alt="300x200" style="width: 100%" src="/uploads/{{servey.file}}">
			    </div>
            <div class="caption">
              <h3>{{servey.title}}</h3>
              <p> {{servey.category}} </p>
              <p>  <i class="fa fa-university"></i>  {{  servey._company.name}}</p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
				<uib-progressbar class="progress-striped" max="100" value="vm.percentage(servey.ended_at , servey.created_at)" type="primary">{{vm.percentage(servey.ended_at , servey.created_at)}}%</uib-progressbar>
                </div>
              </div>
            </div>
		</a>
          </div>
</div>
<div class="row text-center" ng-hide="vm.serveys">
    <div class="col-12">
<h3 class="text-center">There is no serveys for now !</h3>
    </div>
</div>
<pagination uib-pagination total-items="vm.serveys.length" items-per-page="vm.pageSize" ng-model="vm.currentPage" max-size="10" 
                        class="pagination-sm"></pagination>

	</div>
	</div>
</section>



<!-- end sections -->
    </div>

<footer ng-include="'views/partials/footer.html'"></footer>

</div>