<div class="">

	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
<header ng-include="'views/partials/header.html'"></header>
<!-- sections -->
<section ng-controller="OaddController as vm">
<div class="container text-center">
    <h1>Add new offer</h1>
<form ng-submit="vm.submit()" name="formData" ng-model="vm.formData" >
<div class="form-group col-xs-6 col-xs-offset-3">
    <input type="text"  name="title" ng-model="vm.formData.title" placeholder="Title" required>
</div>
<div class="form-group col-xs-6 col-xs-offset-3">
    <label for="type">Type :</label>
    <select  name="type" ng-model="vm.formData.type" required>
        <option value="" default>Choose..</option>
        <option value="vote">Vote</option>
        <option value="postiluation">Postiluation</option>
        
        
    </select>
</div>
      <div class="form-group col-xs-6 col-xs-offset-3">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.formData.ended_at" is-open="vm.popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="End Date"  required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

<div class="form-group col-xs-6 col-xs-offset-3">
      <input type="file" ngf-select ng-model="vm.formData.file" name="file"    
             accept="application/pdf" required>
</div>


    <div class="control-group col-xs-6 col-xs-offset-3 text-danger" >
        <span class="help-inline" ng-bind="vm.error"></span>
    </div>

<div class="form-group col-xs-4 col-xs-offset-4">
<input class="" value="Add" type="submit">    
</form>


</div> 
    
</section>



<!-- end sections -->
    </div>

<footer ng-include="'views/partials/footer.html'"></footer>

</div>