<div class="">

	<!-- PAGE -->
	<div id="page">
	
		<!-- HEADER -->
<header ng-include="'views/partials/header.html'"></header>
<!-- sections -->
<section class="one-section" ng-controller="CprofileController as vm">

<div class="container">
	
	<div class="row">
		
		
<form ng-model="vm.formData" class="tab-form-demo form" ng-submit="vm.submit()">
  <div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)">{{alert.msg}}</div>
    <uib-tabset active="activeForm" justified="true">
      <uib-tab index="0" heading="Profile informations" class="spacing" >
<div class="margin-top">
    <div class="row">
<div class="form-group col-md-4">
<label for ="name">Company Name</label>

    <input  type="text"  name="name" ng-model="vm.formData.name" placeholder="Company Name" >
</div>          
<div class="form-group col-md-4">
<label for ="activity">Company Sector</label>
<select name="activity" ng-model="vm.formData.activity" >
    <option >Accountancy, banking and finance</option>
    <option >Business, consulting and management</option>
    <option >Charity and voluntary work</option>
    <option >Creative arts and design</option>
    <option >Energy and utilities</option>
    <option >Engineering and manufacturing</option>
    <option >Environment and agriculture</option>
    <option >Healthcare</option>
    <option >Hospitality and events management</option>
    <option >Information technology</option>
    <option >Law</option>
    <option >Law enforcement and security</option>
    <option >Leisure, sport and tourism</option>
    <option >Marketing, advertising and PR</option>
    <option >Media and internet</option>
    <option >Property and construction</option>
    <option >Public services and administration</option>
    <option >Recruitment and HR</option>
    <option >Retail</option>
    <option >Sales</option>
    <option >Science and pharmaceuticals</option>
    <option >Social care</option>
    <option >Teacher training and education</option>
    <option >Transport and logistics</option>
    
</select>

</div>
<div class="form-group col-md-4">
<label for ="category">Company Category</label>
<select name="category" ng-model="vm.formData.category" >
    <option>Local private company</option>
    <option>Foreign Private Company</option>
    <option>Public function</option>
    <option>Institution (administration)</option>    
</select>
</div>  
</div>      

    <div class="row">

<div class="form-group col-md-4">
<label for ="size">Company Size</label>
<select name="size" ng-model="vm.formData.size" >
    <option >Less than 20</option>
    <option >Between 20 et 100</option>
    <option >Between 100 et 200</option>
    <option >Between 200 et 500</option>    
    <option >More than 500</option>    
</select>

</div>
<div class="form-group col-md-4">
<label for ="country">Company Country</label>
<select name="country" ng-model="vm.formData.country">    
    <option ng-repeat="country in vm.countries">{{country.name}}</option>
</select>
</div>
<div class="form-group col-md-4">
<label for ="Phone">Company Phone</label>
<input type="text" ng-model="vm.formData.phone" name="phone" placeholder="Phone Number" >
</div>
                 
</div>
    <div class="row">
		
<div class="form-group col-md-4">
<textarea ng-model="vm.formData.adress" placeholder="Company Adress"></textarea>
</div>

<div class="form-group col-md-4">
	<label for="file"> Logo :</label>
      <input type="file" ngf-select ng-model="vm.formData.file" name="file"    
             accept="image/*" ngf-max-size="5MB"
             ngf-model-invalid="errorFile">

	<i ng-show="myForm.file.$error.required">*required</i><br>
    <i ng-show="myForm.file.$error.maxSize">File too large 
        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
    <img ng-show="vm.formData.file.$valid" ngf-thumbnail="vm.formData.file" class="thumb">
	<button class="btn btn-primary" ng-click="vm.formData.file = null" ng-show="vm.formData.file">Remove</button>
	  
</div>


                 
</div>      

<div class="form-group col-xs-4 col-xs-offset-4">
<input class="submit" value="Register" type="submit">    
</form>
</div>

</div>     
                    
      </uib-tab>
<uib-tab index="1" heading="Account Settings" >


<div class="margin-top">
    <div class="row">
<div class="form-group col-md-4">
    <input  type="text"  name="email" ng-model="vm.formData.email" placeholder="Email" >
</div>
<div class="form-group col-md-4">
    <input  type="password"  name="name" ng-model="vm.formData.password" placeholder="New Password">
</div>
<div class="form-group col-md-4">
    <input  type="password"  name="password_confirm" ng-model="vm.formData.password_confirm" placeholder="Password Confirmation" >
</div>

	</div>

<div class="form-group col-xs-4 col-xs-offset-4">
<input class="submit" value="Register" type="submit">    
</form>
</div>

</div>




</uib-tab>
    </uib-tabset>
  </form>
		
		
		
	</div> 




</div> 
    	
</section>


<!-- end sections -->
	</div>

    </div>

<footer ng-include="'views/partials/footer.html'"></footer>

</div>