			<!-- MENU BLOCK -->
			<div class="menu_block">
			
				<!-- CONTAINER -->
				<div class="container clearfix">
					
					<!-- LOGO -->
					<div class="logo pull-left">
						<a href="index.html" ><span class="b1">C</span><span class="b2">r</span><span class="b3">o</span><span class="b4">w</span><span class="b5">d</span></a>
					</div><!-- //LOGO -->
					
					<!-- SEARCH FORM -->
					<div id="search-form" class="pull-right">
						<form method="get" action="#">
							<input type="text" name="Search" value="Search" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
						</form>
					</div><!-- SEARCH FORM -->
					
					<!-- MENU -->
					<div class="pull-right">
						<nav class="navmenu center">
							<ul>
								<li class="first active scroll_btn"><a href="/" >Home</a></li>
								<li class="scroll_btn"><a href="#about" >Offers</a></li>
								<li class="scroll_btn"><a href="/company" >Company space</a></li>
								<li class="scroll_btn"><a href="/user" >Candidate space</a></li>
								<li class="scroll_btn"><a href="#news" >Who we are</a></li>
								<li class="scroll_btn last"><a href="#contacts" >Contact</a></li>
							</ul>
						</nav>
					</div><!-- //MENU -->
				</div><!-- //MENU BLOCK -->
			</div><!-- //CONTAINER -->
