			<!-- MENU BLOCK -->
			<div class="menu_block" ng-controller="navCtrl as vm">
			
				<!-- CONTAINER -->
				<div class="container clearfix">
					
					<!-- LOGO -->
					<div class="logo pull-left">
						<a href="/" ><span class="b1">C</span><span class="b2">r</span><span class="b3">o</span><span class="b4">w</span><span class="b5">d</span></a>
					</div><!-- //LOGO -->					
					<!-- MENU -->
					<div class="pull-left">
						<nav class="navmenu center">
							<ul>
								<li class="scroll_btn first"><a href="/offers" >Offers</a></li>
								<li class="scroll_btn first"><a href="/offers" >Surveys</a></li>
								<li class="scroll_btn last"><a href="/contact" >Contact</a></li>
							</ul>
						</nav>
					</div><!-- //MENU -->

					<div class="pull-right">
						<nav class="navmenu center">
							<ul >
								<li uib-dropdown  ><a id="single-button" uib-dropdown-toggle ng-disabled="disabled" >Company space   <span class="caret"></span></a>
									<ul class="sub dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
									  <li ng-show="{{!vm.companyloggedin}}"><a   href="/company/login"><i class="fa fa-sign-in"> </i>  Login</a></li>
									  <li ng-show="{{!vm.companyloggedin}}"><a   href="/company/register"><i class="fa fa-sign-in"> </i>  Register</a></li>
									  <li><a   href="{{vm.companyloggedin && '/company/offer/add' || '/company/login'}}"><i class="fa fa-pencil"> </i> Publish Offer</a></li>
									  <li ng-show="{{vm.companyloggedin}}"><a  href="/company"><i class="fa fa-home"> </i>  My offers</a></li>
									  <li ng-show="{{vm.companyloggedin}}"><a   href="/company/profile"><i class="fa fa-user"> </i>  Profile</a></li>
									  <li ng-show="{{vm.companyloggedin}}"><a   ng-click="vm.companylogout()"><i class="fa fa-sign-out"> </i>  Log out</a></li>
									</ul>
								</li>
								<li uib-dropdown><a id="single-button2" uib-dropdown-toggle ng-disabled="disabled">Candidate space <span class="caret"></span></a>
									<ul class="sub dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button2">
									  <li ng-show="{{!vm.userloggedin}}"><a   href="/user/login"><i class="fa fa-sign-in"> </i>  Login</a></li>
									  <li ng-show="{{!vm.userloggedin}}"><a   href="/user/register"><i class="fa fa-sign-in"> </i>  Register</a></li>
									  <li ng-show="{{vm.userloggedin}}"><a   href="/user"><i class="fa fa-home"> </i>  My applies</a></li>
									  <li ng-show="{{vm.userloggedin}}"><a   href="/user/profile"><i class="fa fa-user"> </i>  Profile</a></li>
									  <li ng-show="{{vm.userloggedin}}"><a   ng-click="vm.userlogout()"><i class="fa fa-sign-out"> </i>  Log out</a></li>
									</ul>

								
								</li>
							</ul>
						</nav>
					</div><!-- //MENU -->



				</div><!-- //MENU BLOCK -->
			</div><!-- //CONTAINER -->
